<footer class="product-footer">
  <div class="container footer-grid">
    <div class="col">
      <h4>CÔNG TY CỔ PHẦN Q & N SHOP</h4>
      <p><strong>Hotline</strong><br/>18008118</p>
      <p><strong>Shop</strong><br/>Hệ thống các cửa hàng</p>
    </div>
    <div class="col">
      <h4>CHÍNH SÁCH</h4>
      <ul>
        <li>Chính sách đổi trả, bảo hành</li>
        <li>Chính sách bảo mật</li>
        <li>Chính sách giao hàng</li>
        <li>Chính sách khách hàng thân thiết</li>
      </ul>
    </div>
    <div class="col">
      <h4>CHĂM SÓC KHÁCH HÀNG</h4>
      <ul>
        <li>Tổng đài chăm sóc khách hàng</li>
        <li>Hướng dẫn chọn size</li>
      </ul>
    </div>
    <div class="col">
      <h4>TÀI LIỆU - TUYỂN DỤNG</h4>
      <ul>
        <li>Tuyển dụng</li>
      </ul>
    </div>
    <div class="col">
      <h4>VỀ Q & N SHOP</h4>
      <ul>
        <li>Tin tức</li>
        <li>Về chúng tôi</li>
      </ul>
    </div>
  </div>
</footer>
